<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div class="register-container">
        <form action="http://localhost:8080/sendMail" method="post">
            <div class="input-box">
                <input type="text" placeholder="Email" name = "email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <button class="btn" type="submit">Send mail</button>
        </form>
    </div>
</body>
</html>