<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <div class="register-container">
        <h1>Sign Up</h1>
        <form action="http://localhost:8080/api/register" method="post">
            <div class="input-box">
                <input type="text" placeholder="Full name" name = "name" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Email" name = "email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Username" name = "username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" name ="password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="date" name ="dob" required>
            </div>
            <div class="input-box gender-selection">
                <label for="male">Male
                    <input type="radio" id="male" value="male" name="gender" required>
                </label>
                <label for="female">Female
                    <input type="radio" id="female" value="female" name="gender" required>
                </label>
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>